
<p>Cantidad de documentaryfilms: <%= @documentaryfilms.count %><p>

<% @documentaryfilms.each do |documentaryfilm|%>
  <h2><%= documentaryfilm.name %></h2>
  <h2><%= documentaryfilm.synopsis %></h2>
   <h2><%= documentaryfilm.director %></h2>

<% end %>

<%= link_to "Agregar nuevo DocumentaryFilm", documentaryfilms_new_path %>
